<div class="mx-auto mt-5">
    <h1 class="w-50 mx-auto text-center">Histórico de Medicação</h1>

    <!-- Barra de pesquisa -->
    <div class="search-bar w-50 mx-auto d-flex gap-2 justify-content-center align-items-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Pesquisar paciente..." (blur)="listarPacientes()"
                [(ngModel)]="paciente.nome" />
        </span>
        <p-button (click)="buscaPacientePeloNome()" label="Buscar"></p-button>
    </div>

    <!-- Listagem de pacientes cadastrados -->
    <div id="listagem-pacientes" class="my-4 w-50 mx-auto gap-5">
        <div class="mx-auto justify-content-center">
            <div id="tabela" class="mx-auto">
                <table>
                    <thead>
                        <tr class="text-center">
                            <th>Registro</th>
                            <th>Nome do Paciente</th>
                            <th>Convênio</th>
                            <th></th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr class="" *ngFor="let paciente of resultadosDaBusca; let i = index">
                            <td>0000000{{ i + 1 }}</td>
                            <td>{{ paciente.nomeCompleto}}</td>
                            <td class="text-center">{{ paciente.convenio }}</td>
                            <td><p-button [routerLink]="['detalhes-paciente', paciente.id]"
                                    (click)="verDetalhes(paciente)" label="Detalhes"></p-button></td>

                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>


</div>