.dropdown {
  position: relative;
  display: inline-block;
  min-height: 400px;
  min-width: 100vh;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 5px 10px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
}
.modal-content {
  background-color: rgb(99, 225, 99);
  color: white;
  letter-spacing: 1px;
}
