<div *ngIf="sidebarVisible">
    <nav class="navbar navbar-dark bg-dark sticky-top">
        <div class="container-fluid">

            <p-button label="LABMedication" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"></p-button>
            <span class="navbar-brand">{{titulo}}</span>
            <div class="d-flex">

                <span id="email" class="navbar-text  me-2">{{usuario || "Carregando..."}}</span>
                <div id="usuario">
                    <p-avatar
                        image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmz5QpYl8-SkJ_LWsz3rpvHi-f_UVDG1xHYQ&usqp=CAU"
                        styleClass="mr-2" size="large" shape="circle"></p-avatar>
                </div>

            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>

        </div>
        <h5 class="offcanvas-title text-center" id="sidebarMenuLabel">Menu</h5>
        <div class="offcanvas-body">

            <!-- Conteúdo do menu aqui -->
            <div class="bg-light border-end" id="sidebar-wrapper">
                <div class="list-group list-group-flush fs-4">
                    <div class="sidebar-heading">Geral</div>
                    <a [routerLink]="['home']" routerLinkActive="active" class="list-group-item list-group-item-action">
                        <i class="fas fa-home"></i> Início
                    </a>
                    <div class="sidebar-heading">Cadastrar</div>
                    <a [routerLink]="['cadastro-pacientes']" routerLinkActive="active"
                        class="list-group-item list-group-item-action">
                        <i class="fas fa-user"></i> Paciente
                    </a>
                    <a [routerLink]="['cadastro-medicamentos']" routerLinkActive="active"
                        class="list-group-item list-group-item-action">
                        <i class="fas fa-pills"></i> Medicamento
                    </a>
                    <div class="sidebar-heading">Histórico</div>
                    <a [routerLink]="['listagem-historico-medicacao']" routerLinkActive="active"
                        class="list-group-item list-group-item-action">
                        <i class="fas fa-list"></i>Listar
                    </a>
                </div>
            </div>
            <p-button label="Sair" [routerLink]="['login']" (click)="logout()"
                styleClass="p-button-danger mt-5 px-4"></p-button>
        </div>
    </div>
</div>