<div class="container">
    <h1>Detalhes do paciente</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ paciente.nomeCompleto }}</h5>
            <p class="card-text">Convênio: {{ paciente.convenio }}</p>
            <p class="card-text">Contato de emergência: {{ paciente.contatoEmergencia }}</p>
            <p class="card-text">Alergias: {{ paciente.alergias }}</p>
            <p class="card-text">Cuidados específicos: {{ paciente.cuidadosEspecificos }}</p>
        </div>
    </div>


    <h2>Histórico de medicação</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data e hora</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicacao of historico">
                <td>{{ medicacao.nomeMedicamento }}</td>
                <td>{{ medicacao.data | date: 'dd/MM/yyyy' }} | {{medicacao.horario}}</td>
                <td>
                    <a [routerLink]="['../../../cadastro-medicamentos', medicacao.id]" class="text-decoration-none"><p-button label="Editar"
                            styleClass="p-button-secondary"></p-button></a>

                </td>
            </tr>
        </tbody>
    </table>

    <a [routerLink]="['../../../cadastro-medicamentos']"><p-button label="Cadastrar 
                medicação" styleClass="p-button-link"></p-button></a>

</div>