<div class="modal fade modal-signin bg-secondary py-5" tabindex="-1" role="dialog" id="exampleModal"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Crie sua conta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">
                <form [formGroup]="form">
                    <div class="form-floating mb-3">
                        <input type="email" formControlName="email" class="form-control rounded-3" id="floatingInput"
                            placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="password" type="password" class="form-control rounded-3"
                            id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Senha</label>
                        <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                            A senha deve ter no mínimo 10 caracteres.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="confirmPassword" type="password" class="form-control rounded-3" id="floatingConfirmPassword"
                            placeholder="Password">
                        <label for="floatingConfirmPassword">Confirme a senha</label>
                    </div>
                    <div *ngIf="form.get('confirmPassword')?.value != form.get('password')?.value && form.get('confirmPassword')?.touched">
                        As senhas precisam ser iguais
                    </div>
                    <button (click)="registerUser()"
                        class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Cadastrar</button>
                    <small class="text-muted">Ao clicar em cadastrar você está aceitando os termos de uso.</small>
                    <hr class="my-4">
                </form>
            </div>
        </div>
    </div>
</div>